.titlemain{
  text-align: center;
  color: blueviolet;
  font-size: 30px;
  font-weight: bold;
}
.list2{
  text-align: left;
  font-weight: bold;
  color: peru;
}
.error10{
  color: red;
  font-style: italic;
}
.allgood{
  color: green;
  font-weight: bold;
  font-style: italic;
}
p{
  font-family: 'Times New Roman';
  font-size: 20px;
  font-style: italic;
}
#specialb{
  color: rgb(128, 15, 0);
  font-weight: bold;
  font-size: 20px;
  font-style: italic; 
}
.alignedform{
  display:inline;
  vertical-align:top;
  text-align:center;
}
.alignedformbutton input[type="submit"]{
  margin: 0;
}
.plaintext{
  color: rgba(247, 7, 167, 0.897);
}
.plaintext2{
  color: rgba(4, 121, 39, 0.897);
}
.poster{
  color:forestgreen
}
.paradf{
  color:tomato
}
.titlepost{
  color: rgb(26, 1, 114);
}
.toright{
  text-align:right;
}
.centered{
  text-align:center;
}
.toleft{
  text-align:left;
}
.red{
  color: red;
}
.orange{
  color: orange;
}
.different{
  color: black;
}    
.marginleft{
  margin-left: 100px;                
  background-color: lightblue;
}
.mycomment{
  text-align:left;
  margin-left:0;
  background-color: lightblue;
}
.otherscomment{
  text-align:right;
  margin-right:0;
  background-color: lightgreen;
}
.mini{
  font-size: 10px;
  font-style: italic; 
}
.screenright{
  text-align:right;
  margin-right:0;
}
#principal{
  float: right;  
}
.aligned_in_p {
  display: inline-block;
}







#navBar {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navOptionLeft {
  float: left;
  border-right: 1px dotted gray;
}

.navOptionRight {
  float:right;
  border-left: 1px dotted gray;
}

.navOption {
  display: inline-block;
  color: rgb(240, 54, 54);
  text-align: center;
  padding: 12px 10px;
  text-decoration: none;
}

.navOption:hover  {
  background-color: black;
  color: rgb(240, 54, 54);
  text-decoration: none;
  font-weight: bold;
  border-color: black;
  text-align: center;
  display: inline-block;
  border-radius: 2px;
}

.active, .active:hover {
  font-weight: bold;
  background-color: lightgray; 
  border: none;
}

body {
  background-color: lightgray;
}

#my-custom-container-fluid{
  padding-right: 0px;
  padding-left: 0px;
}

@media screen and (max-width: 600px){
  ul#navBar li.right, 
  ul#navBar li {float: none;}
}

#the-user, #the-user:hover{
  color: rgb(9, 167, 30);
  /*color: rgb(226, 226, 9);*/
}

.material-icons{
  position: relative;  
  vertical-align: middle;  
}