.titlemain{
  text-align: center;
  color: blueviolet;
  font-size: 30px;
  font-weight: bold;
}
.list2{
  text-align: left;
  font-weight: bold;
  color: peru;
}
.error10{
  color: red;
  font-style: italic;
}
.allgood{
  color: green;
  font-weight: bold;
  font-style: italic;
}
p{
  font-family: 'Times New Roman';
  font-size: 20px;
  font-style: italic;
}
#specialb{
  color: rgb(128, 15, 0);
  font-weight: bold;
  font-size: 20px;
  font-style: italic; 
}
.alignedform{
  display:inline;
  vertical-align:top;
  text-align:center;
}
.alignedformbutton input[type="submit"]{
  margin: 0;
}
.plaintext{
  color: rgba(247, 7, 167, 0.897);
}
.plaintext2{
  color: rgba(4, 121, 39, 0.897);
}
.poster{
  color:forestgreen
}
.paradf{
  color:tomato
}
.titlepost{
  color: rgb(26, 1, 114);
}
.toright{
  text-align:right;
}
.centered{
  text-align:center;
}
.toleft{
  text-align:left;
}
.red{
  color: red;
}
.orange{
  color: orange;
}
.different{
  color: black;
}    
.marginleft{
  margin-left: 100px;                
  background-color: lightblue;
}
.mycomment{
  text-align:left;
  margin-left:0;
  background-color: lightblue;
}
.otherscomment{
  text-align:right;
  margin-right:0;
  background-color: lightgreen;
}
.mini{
  font-size: 10px;
  font-style: italic; 
}
.screenright{
  text-align:right;
  margin-right:0;
}
#principal{
  float: right;  
}
.aligned_in_p {
  display: inline-block;
}

/*Beginning for navBar*/
#navBar {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navOptionLeft {
  float: left;
  border-right: 1px dotted gray;
}

.navOptionRight {
  float:right;
  border-left: 1px dotted gray;
}

.navOption {
  display: block;
  color: rgb(240, 54, 54);
  text-align: center;
  padding: 12px 10px;
  text-decoration: none;
}

.navOption:hover  {
  background-color: black;
  color: rgb(240, 54, 54);
  text-decoration: none;
  font-weight: bold;
  border-color: black;
  text-align: center;
  display: block;
  border-radius: 2px;
}

.active, .active:hover {
  font-weight: bold;
  background-color: lightgray; 
  border: none;
}

body {
  background-color: lightgray;
}

#my-custom-container-fluid{
  padding-right: 0px;
  padding-left: 0px;
}

@media screen and (max-width: 600px){
  ul#navBar li.right, 
  ul#navBar li {float: none;}
}

#the-user, #the-user:hover{
  color: rgb(9, 167, 30);
  /*color: rgb(226, 226, 9);*/
}

.material-icons{
  position: relative;  
  vertical-align: middle;  
}
/*Ending navBar*/

/*Beginning submission forms*/
/*Login*/
.submission-form-general {
  border-style: double;
  border-color: black;
  background-color: lightgray;
  margin: 0 auto;
}
.submission-form-main-menu {
  border-radius: 15px;    
  padding: 20px 40px 20px 20px;
}
.submission-form-secondary-menu {
  border-radius: 5px;      
  padding: 20px 20px 20px 20px;
}

#submission-form-login {
  width: 300px;   
}

.submission-title-general {
  color: rgb(240, 54, 54);
  padding: 10px 20px 10px 20px;
}
.submission-title-main-menu {
  background-color: #333; 
  margin: -20px -40px 0 -20px; 
  border-radius: 14px 14px 0 0;
}
.submission-title-secondary-menu {
  background-color: lightgray; 
  margin: -20px -20px 0 -20px; 
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid black;
}

input[type=text], input[type=password] {  
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=text]:focus, input[type=password]:focus, .textarea-nice:focus {
  border: 3px solid #555;
}

#hyperlink-login{
  text-align: center;
  color: rgb(240, 54, 54);
}

#hyperlink-login:hover{
  text-decoration: none;
  color: rgb(240, 54, 54);
  font-weight: bold;  
}

.table-login td {
  padding-top: 15px;
}

.button-nice {
  display: inline-block; 
  width:100%;
}

.button-nice:hover {  
  background-color:rgb(240, 54, 54);
  color: #333;  
}

.button-nice:active {  
  background-color:#333;
  color: rgb(240, 54, 54);   
}

/*signup*/
#submission-form-signup, #submission-form-new-chat, #submission-form-new-group, #submission-form-attendance-event {  
  width: 350px;        
}

.input-title {
  vertical-align: bottom;
  margin-left: 3px;
}

.select-nice {  
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.input-field, .button-wide{
  width:100%;
}

/*Add new hobby form*/
#submission-form-new-hobby {  
  width: 220px;  
}

/*Add new place form*/
#submission-form-new-place, #submission-form-new-post {  
  width: 500px;  
}

.textarea-nice {  
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

/*New event*/
#submission-form-new-event {  
  width: 800px;  
}

.a-third-width{
  width: 30%;
}

#input-exp-new-event {  
  -webkit-transition: width .35s ease-in-out;
  transition: width .35s ease-in-out;
}
#input-exp-new-event:focus {
  width: 100%;
}

/*Existing hobby existing place*/
#submission-form-existing-hobby-existing-place {
  width: 660px;
}

#submission-form-existing-place{
  width: 460px;
}

.display-info-general {  
  background-color: white;  
  margin: 0 auto;
  padding: 5px 10px 5px 10px;
  border: 1px solid #333;
}

.display-info-title-general {
  color: rgba(27, 115, 216, 0.952);  
  padding: 5px 10px 5px 10px;
  margin: -5px -10px 0 -10px;  
  border-bottom: 1px solid #333;
}

.main-post, .main-hobby, .main-place, .main-event {
  background-color: #333;
}

.main-post-answer {
  background-color: #ccc;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#display-info-each-post, #display-info-all-posts {
  width: 95%;   
}

#display-info-each-hobby {
  width: 28%;
}

#display-info-each-place{
  width: 40%;
}

#display-info-each-event {
  width: 60%;
}

.padding-quick-fix{
  padding-bottom:5px;
}

.users-color {
  color: rgb(240, 54, 54);  
}

