{% extends "zbase.html" %}

{% block content %}
<h1 class="titlemain">Let's message Hobbies!</h1>
    {% if chats|length == 0 %}
    <p>No chats yet</p>    
    {% else %}
        {% for chat in chats | reverse %}
        <a href="/chat?chat_id={{chat.id}}&condition=see_this_chat" class="titlepost">{{chat_comments[chat.id][0][0]}}</a> <span class="toright">{{chat_comments[chat.id][0][2]}}</span>            
        <p><span class="paradf">{{chat_comments[chat.id][0][1].comment}}</span> BY {{chat_comments[chat.id][0][1].chat_comment.nickname}}</p> 
        <hr />
        {% endfor %}
    {% endif %}
    
    <form action="/newchat" method="post" class="alignedform">                        
        <input type="hidden" name="condition" value="from_allchats_view" id="just to delimitate value of value" />
        <input type="submit" value="CREATE" class="alignedformbutton"/>
    </form> new chat. <br><br>
    
{% endblock %}