{% extends "zbase.html" %}

{% block content %}
<br>
    <div class="display-info-general" id="display-info-all-users">
        <div class="display-info-title-general main-users">
            <h4 style="color:rgb(240, 54, 54)">Registered Users!</h4>                 
        </div> 
        {% if hobbyists|length == 0 %}
            <table style="width:100%">           
                <tr>
                    <td style="padding-bottom:5px;">                    
                        <b><span>                                
                                <p>No hobbyists yet</p>                                                           
                        </span></b>                
                    </td>  
                </tr>            
            </table>  
        {% else %}                        
            <table style="width:100%">           
                <tr>
                    <td class="padding-quick-fix">
                        <b><span>
                                <hr>
                                {% for hobbyist in hobbyists %}             
                                {% if hobbyist.nickname == session['hobbyist'] %}
                                <a href="/myinfo?condition=show_all_info_user">{{hobbyist.nickname}} </a> 
                                {% else %}
                                <a href="/myinfo?condition=show_other_info_user&hobbyist={{hobbyist.nickname}}">{{hobbyist.nickname}} </a> 
                                {% endif %}
                    
                                <span>{{hobbyist.city}} {{hobbyist.state}} {{hobbyist.zipcode}} </span> 
                                
                                {% if hobbyists_properties[hobbyist.nickname][0] == 0 %}
                                (<span> This person doesn't have any hobby yet :/ </span>,
                                {% elif hobbyists_properties[hobbyist.nickname][0] == 1 %}            
                                (<span> {{hobbyists_properties[hobbyist.nickname][0]}} hobby </span>, 
                                {% else %}            
                                (<span> {{hobbyists_properties[hobbyist.nickname][0]}} hobbies </span>, 
                                {% endif %}
                                {% if hobbyists_properties[hobbyist.nickname][1] == 0 %}
                                <span>this person doesn't practice a hobby in any public place yet :/ </span>). 
                                {% elif hobbyists_properties[hobbyist.nickname][1] == 1 %}            
                                <span>{{hobbyists_properties[hobbyist.nickname][1]}} place </span>).
                                {% else %}            
                                <span>{{hobbyists_properties[hobbyist.nickname][1]}} places </span>).
                                {% endif %}     
                                <hr>  
                            {% endfor %}                                                
                            </span>
                        </b>
                    </td>  
                </tr>                
            </table>    
        {% endif %}   
</div>
<br>
<br>
{% endblock %}