{% extends "zbase.html" %}

{% block content %}
<br>
<div class="display-info-general" id="display-info-each-place">
    <div class="display-info-title-general main-place">
        <h4 style="color:rgb(240, 54, 54)">Registered Hobbies from all users</h4>                 
    </div> 
    {% if hobbieshtml|length == 0 %}
        <table style="width:100%">           
            <tr>
                <td style="padding-bottom:5px;">                    
                    <b><span>
                        <p>No hobbies yet</p>
                        <p>If you want to add a new hobby click <a href="/newhobbie"> here </a>.</p>                             
                    </span></b>                
                </td>  
            </tr>            
        </table>  
    {% else %}    
        {% if myhobbies|length == 0 %}            
        {% else %}  
            <div class="display-info-title-general main-place">
                <h5><span style="color:rgba(27, 115, 216, 0.952)">My Hobbies</span></h5> 
            </div> 
            <table style="width:100%">           
                <tr>
                    <td class="padding-quick-fix">
                        <b><span>
                            {% for myhobby in myhobbies %}             
                            <li>
                                <a href="/hobbies?id={{myhobby.id}}">{{myhobby.name}} </a>
                                    
                                    {% if dict_helper[myhobby.name][0] == 1 %}                           
                                        (<span> {{dict_helper[myhobby.name][0]}} person </span>, 
                                    {% else %}            
                                        (<span> {{dict_helper[myhobby.name][0]}} people </span>, 
                                    {% endif %}

                                    {% if dict_helper[myhobby.name][1] == 0 %}
                                        <span> this hobby isn't practiced in any public place yet :/ </span>). 
                                    {% elif dict_helper[myhobby.name][1] == 1 %}            
                                        <span>{{dict_helper[myhobby.name][1]}} place </span>).
                                    {% else %}            
                                        <span>{{dict_helper[myhobby.name][1]}} places </span>).
                                    {% endif %}                   
                            </li>        
                            {% endfor %}                                                
                            </span>
                        </b>
                    </td>  
                </tr>                
            </table>    
        {% endif %}    
        {% if notmyhobbies|length == 0 %}
        <hr>
        <p>You practice already all the hobbies registered on this website. Add a new one <a href="/newhobbie">here</a></p>
        {% else %}
            <div class="display-info-title-general main-place">
                <h5><span style="color:rgba(27, 115, 216, 0.952)">Other Hobbies practiced by other people</span></h5> 
            </div> 
            <table style="width:100%">   
                <tr>
                    <td colspan="2">
                        <hr>
                    </td>  
                </tr>   
                {% for hobby in notmyhobbies %}       
                <tr>
                    <td style="width:70%">
                        <b><span>  
                            <li>                                     
                            <a href="/hobbies?id={{hobby.id}}">{{hobby.name}} </a> 
                            
                                {% if dict_helper[hobby.name][0] == 1 %}                           
                                    (<span> {{dict_helper[hobby.name][0]}} person </span>, 
                                {% else %}            
                                    (<span> {{dict_helper[hobby.name][0]}} people </span>, 
                                {% endif %}
                                {% if dict_helper[hobby.name][1] == 0 %}
                                    <span> this hobby isn't practiced in any public place yet :/ </span>). 
                                {% elif dict_helper[hobby.name][1] == 1 %}            
                                    <span>{{dict_helper[hobby.name][1]}} place </span>).
                                {% else %}            
                                    <span>{{dict_helper[hobby.name][1]}} places </span>).
                                {% endif %}     
                            </li>   
                        </span></b>
                    </td>  
                    <td style="width:30%">
                        <form action="/newhobbie" method="post" class="alignedform">            
                            <input type="hidden" name="hobbyname" value="{{hobby.name}}"/>
                            <input type="hidden" name="conditional_to_redirect" value="Display_all_hobbies"/>
                            <input type="hidden" name="conditional" value="to_add_existing_hobby_to_current_user"/>
                            <input type="submit" class="button-nice" value="Add hobby" class="alignedformbutton"/>
                        </form> 
                    </td>                            
                </tr>   
                <tr>
                    <td colspan="2">
                        <hr>
                    </td>  
                </tr>             
            {% endfor %}
            </table>            
    {% endif %}
{% endif %}
</div>
<br>
<br>
{% endblock %}