{% extends "zbase.html" %}

{% block content %}
<h1 class="titlemain">{{placehtml}}</h1>  

    <h2>Hobbies practiced at this place ({{no_hobbies}} total) </h2>       
    {% for myhobby in hobbies %}             
    <li class="list2">
        <a href="/hobbies?id={{myhobby.id}}" class="titlepost">{{myhobby.name}} </a>  (# hobbyists) (# places )  .
    </li>        
    {% endfor %}

    <h2>People that come to this place ({{no_hobbyists}} total)</h2>       
    {% for hobbyist in hobbyists %}        
    <li class="list2">
        <a href="/blog?hobbyist={{hobbyist.nickname}}" class="poster">{{hobbyist.nickname}} </a> {{hobbyist.hobbies.count}}(# hobbies) {{hobbyist.id.count}} (# places )
    </li>     
    {% endfor %}

{% endblock %}