{% extends "zbase.html" %}

{% block content %}
<h1 class="titlemain">Who attended the event named "{{event.name}}"? </h1>  

<p><span>Select who attended (besides you):</span><br>

<form method='post' action="/events">   
    <div id="test3">       
        {% for person in event.hobbyists %}    
            {% if person.nickname != user.nickname %}                
                <input type="checkbox" name="people_attended" id="{{person.id}}" value="{{person.id}}" > 
                <label for="{{person.id}}">{{person.nickname}}</label>  
            {% endif %}      
        {% endfor %}                
    </div>
    <br>
    Recap:<br>
    <textarea name="recap">{{recap}}</textarea>
    <br><span class="error10" name="error_recap">{{error_recap}}</span><br>

    <input type="hidden" name="event_idn" value="{{event.id}}" />
    <input type="hidden" name="condition" value="attendance_submission" />
    <input type="submit" value='OK' />
</form>
{% endblock %}