{% extends "zbase.html" %}

{% block content %}
<h1 class="centered">{{hobbyist.nickname}}</h1> 
<h2 class = "centered">{{hobbyist.city}} | {{hobbyist.state}} | {{hobbyist.zipcode}}</h2>
    
{% if conditional == "my_profile" %}
    <h1 class="titlemain" style="text-align:left">My hobbies in my places :) !</h1>
    {% if my_hobbies|length == 0 %}
    <p>No hobbies yet</p>
    {% else %}
            {% for hobby in my_hobbies %}
            <li class="list2">
            <a href="/hobbies?id={{hobby.id}}" class="poster">{{hobby.name}}</a>   
                {% if dict_hobby_places[hobby.name]|length == 0 %}
                <ul>
                    You don't practice this hobby in a public place yet. Go to places <a href="/places">here</a> and add this hobby to a place. 
                </ul> 
                {% else %}
                {% for place in dict_hobby_places[hobby.name] %}
                <ul>
                    + <a href="/places?id={{place.id}}" class="poster">{{place.name}}</a> | {{place.streetaddress}} | {{place.city}} | {{place.state}} | {{place.zipcode}}
                </ul>             
                {% endfor %}
                {% endif %}
            </li>
            {% endfor %} 
    {% endif %}    

    <h1 class="titlemain">My places :) ! </h1>
    {% if my_places|length == 0 %}
    <p>No public places yet</p>
    {% else %}
    {% for publicplace in my_places %}
    <li class="list2">
    <a href="/places?id={{publicplace.id}}" class="poster">{{publicplace.name}} </a> | {{publicplace.streetaddress}} | {{publicplace.city}} {{publicplace.state}} {{publicplace.zipcode}} 
    </li>
    {% endfor %} 

    {% endif %}    

    <h1 class="titlemain">My posts to the blog!</h1>
    {% if my_posts|length == 0 %}
    <p>No posts yet</p>
    {% else %}
    {% for post in my_posts | reverse %}
        <a href="/blog?id={{post.id}}" class="titlepost">{{post.title}}</a> <span id="specialb">by</span> 
    
        {% if post.blog.nickname == session['hobbyist'] %}
            <a href="/myinfo?condition=show_all_info_user" class="poster">{{post.blog.nickname}} </a> 
        {% else %}
            <a href="/myinfo?condition=show_other_info_user&hobbyist={{post.blog.nickname}}" class="poster">{{post.blog.nickname}} </a> 
        {% endif %}
        in 
        <a href="/blog?hobbyist={{post.blog.nickname}}"><span class="poster">posts of {{post.blog.nickname}}</span></a> at {{post.time}} on {{post.date}}
        <span class="paradf"><p>{{post.body}}</p></span> 
        <hr />
    {% endfor %}    
    {% endif %}
{% elif conditional == "other_user_profile" %}    
    <h1 class="titlemain" style="text-align:left">Hobbies that {{hobbyist.nickname}} loves :) !</h1>
    {% if my_hobbies|length == 0 %}
    <p>No hobbies yet</p>
    {% else %}
            {% for hobby in my_hobbies %}
            <li class="list2">
            <a href="/hobbies?id={{hobby.id}}" class="poster">{{hobby.name}}</a>                
            </li>
            {% endfor %} 
    {% endif %}    

    <h1 class="titlemain">Places where {{hobbyist.nickname}} goes :) ! </h1>
    {% if my_places|length == 0 %}
    <p>No public places yet</p>
    {% else %}
    {% for publicplace in my_places %}
    <li class="list2">
    <a href="/places?id={{publicplace.id}}" class="poster">{{publicplace.name}} </a> | {{publicplace.streetaddress}} | {{publicplace.city}} {{publicplace.state}} {{publicplace.zipcode}} 
    </li>
    {% endfor %} 

    {% endif %}    

    <h1 class="titlemain">Posts of {{hobbyist.nickname}} to the blog!</h1>
    {% if my_posts|length == 0 %}
    <p>No posts yet</p>
    {% else %}
        
        {% for post in my_posts | reverse %}
        <a href="/blog?id={{post.id}}" class="titlepost">{{post.title}}</a> <span id="specialb">by</span> 
    
        {% if post.blog.nickname == session['hobbyist'] %}
            <a href="/myinfo?condition=show_all_info_user" class="poster">{{post.blog.nickname}} </a> 
        {% else %}
            <a href="/myinfo?condition=show_other_info_user&hobbyist={{post.blog.nickname}}" class="poster">{{post.blog.nickname}} </a> 
        {% endif %}
        in 
        <a href="/blog?hobbyist={{post.blog.nickname}}"><span class="poster">posts of {{post.blog.nickname}}</span></a> at {{post.time}} on {{post.date}}
        <span class="paradf"><p>{{post.body}}</p></span> 
        <hr />
        {% endfor %}    

    {% endif %}

    




{% endif %}
{% endblock %}