{% extends "zbase.html" %}

{% block content %}
<h1 class="titlemain">{{placehtml.name}}</h1>  
<h2 class="centered">{{placehtml.streetaddress}} | {{placehtml.city}} | {{placehtml.state}} | {{placehtml.zipcode}} |</h2>  

    <h2>Hobbies practiced at this place ({{no_hobbies}} total) </h2>       
    {% for myhobby in hobbies %}             
    <li class="list2">
        <a href="/hobbies?id={{myhobby.id}}" class="titlepost">{{myhobby.name}} </a> ( {{ hobby_no_hobbyists_no_places[myhobby.name][0] }} 
        {% if hobby_no_hobbyists_no_places[myhobby.name][0] < 2 %}        
        hobbyist,  
        {% else %}
        hobbyists, 
        {% endif %}

        {% if hobby_no_hobbyists_no_places[myhobby.name][1] == 1 %}        
        {{hobby_no_hobbyists_no_places[myhobby.name][1]}} place ).        
        {% else %}
        {{hobby_no_hobbyists_no_places[myhobby.name][1]}} places ).
        {% endif %}

    </li>        
    {% endfor %}

    <h2>People that come to this place ({{no_hobbyists}} total)</h2>       
    {% for hobbyist in hobbyists %}        
    <li class="list2">
        {% if hobbyist.nickname == session['hobbyist'] %}
        <a href="/myinfo?condition=show_all_info_user" class="poster">{{hobbyist.nickname}} </a> 
        {% else %}
        <a href="/myinfo?condition=show_other_info_user&hobbyist={{hobbyist.nickname}}" class="poster">{{hobbyist.nickname}} </a> 
        {% endif %}
        ( {{ hobbyist_no_hobbies_no_places[hobbyist.nickname][0] }} 
        {% if hobbyist_no_hobbies_no_places[hobbyist.nickname][0] == 1 %}        
        hobby,  
        {% else %}
        hobbies, 
        {% endif %}

        {% if hobbyist_no_hobbies_no_places[hobbyist.nickname][1] == 1 %}   
        {{hobbyist_no_hobbies_no_places[hobbyist.nickname][1]}} place ).        
        {% else %}
        {{hobbyist_no_hobbies_no_places[hobbyist.nickname][1]}} places ).
        {% endif %}
                
    </li>                                                                                           
    {% endfor %}

{% endblock %}