{% extends "zbase.html" %}

{% block content %}

<br>
<div class="display-info-general" id="display-info-each-chat">
    <div class="display-info-title-general main-chats">
        <h3 style="color:rgb(240, 54, 54)">Messages</h3>                 
    </div> 
    {% if chat.is_a_group == False %}
        <div class="display-info-title-general main-chats">
            <h5 class="toright"><span style="color:lightgreen">{{chat_name}}</span></h5>      
        </div>     
        {% for comment in comments %}   
            {% if comment in my_comments %} 
                <table style="width:100%">                  
                    <tr>
                        <td style="width:85%">                                                                          
                            <div class="mycomment"><span>{{comment.comment}}</span> <br> <div class="mini">{{comment.date}} | {{comment.time}}</div></div>
                        </td>  
                        <td style="width:15%"></td>                    
                    </tr>
                </table>  
            {% else %}
                <table style="width:100%">
                    <tr>                     
                        <td style="width:15%"></td>
                        <td style="width:85%">
                            <div class="otherscomment"><span>{{comment.comment}}</span> <br> <div class="mini">{{comment.date}} | {{comment.time}}</div></div>
                        </td>
                    </tr> 
                </table>
            {% endif %}
        {% endfor %}  
            <table style="width:100%"> 
                <tr>
                    <td colspan="2">
                        <form action="/newchat" method="post">            
                            <div class="centered">
                                <input class="input-field" style="width:70%" type="text" name="comment" value="" id="to_delimitate" />       
                                <input type="hidden" name="chat_id" value={{chat.id}} />            
                                <input type="hidden" name="condition" value="new_comment_existent_chat" id="just to delimitate value of value" />
                                <input type="submit" value="->" style="width:70%" class="button-nice"/><br>(Click frequently to update the messages)
                            </div>
                        </form>
                    </td>
                </tr>   
            </table>  
    {% elif chat.is_a_group == True %}
        <div class="display-info-title-general main-chats">
            <h5 class="toright"><span style="color:lightgreen">{{chat_name}}</span></h5>   
            <h6 class="toright"><span style="color:lightgreen">{{other_participants}}</span></h6>    
        </div>     
        {% for comment in comments %}   
            {% if comment in my_comments %} 
                <table style="width:100%">                  
                    <tr>
                        <td style="width:85%">                                                                          
                            <div class="mycomment"><span>{{comment.comment}}</span> <br> <div class="mini">{{comment.date}} | {{comment.time}}</div></div>
                        </td>  
                        <td style="width:15%"></td>                    
                    </tr>
                </table>  
            {% else %}
                <table style="width:100%">
                    <tr>                     
                        <td style="width:15%"></td>
                        <td style="width:85%">     
                            <div class="otherscomment"><span>{{comment.comment}}</span> <br> <div class="mini">{{comment.chat_comment.nickname}} | {{comment.date}} | {{comment.time}}</div></div>
                        </td>
                    </tr> 
                </table>
            {% endif %}
        {% endfor %}  
            <table style="width:100%"> 
                <tr>
                    <td colspan="2">
                        <form action="/newchat" method="post">            
                            <div class="centered">
                                <input class="input-field" style="width:70%" type="text" name="comment" value="" id="to_delimitate" />       
                                <input type="hidden" name="chat_id" value={{chat.id}} />            
                                <input type="hidden" name="condition" value="new_comment_existent_chat" id="just to delimitate value of value" />
                                <input type="submit" value="->" style="width:70%" class="button-nice"/><br>(Click frequently to update the messages)
                            </div>
                        </form>
                    </td>
                </tr>   
            </table>         
    {% endif %}
{% endblock %}