{% extends "zbase.html" %}

{% block content %}
<br>
<div class="display-info-general" id="display-info-all-events">
    <div class="display-info-title-general main-places">
        <h3 style="color:rgb(240, 54, 54);text-align:center;">{{hobbyist.nickname}}</h4> 
        <h5 style="color:rgb(240, 54, 54);text-align:center;">{{hobbyist.city}} | {{hobbyist.state}} | {{hobbyist.zipcode}}</h4>                 
    </div> 

{% if conditional == "my_profile" %}
    <div class="display-info-title-general main-place">
        <h5><span style="color:rgba(27, 115, 216, 0.952)">My hobbies in my places :) !</span></h5> 
    </div>      
    <b>
    {% if my_hobbies|length == 0 %}
    <p>No hobbies yet</p>
    {% else %}
            {% for hobby in my_hobbies %}
            <li>
            <a href="/hobbies?id={{hobby.id}}">{{hobby.name}}</a>   
                {% if dict_hobby_places[hobby.name]|length == 0 %}
                <ul>
                    You don't practice this hobby in a public place yet.
                    <form action="/newplace" method="post" class="alignedform">            
                        <input type="hidden" name="hobbyname" value="{{hobby.name}}"/>  
                        <input type="hidden" name="conditional" value="to_add_existing_hobby_to_existing_place"/>
                        <input type="submit" value="ADD" class="alignedformbutton"/>
                    </form> existing place to practice {{hobby.name}} or create a new place click <a href="/places">here</a>  
                </ul> 
                {% else %}
                {% for place in dict_hobby_places[hobby.name] %}
                <ul>
                    + <a href="/places?id={{place.id}}"></a>{{place.name}}</a> | {{place.streetaddress}} | {{place.city}} | {{place.state}} | {{place.zipcode}}
                </ul>             
                {% endfor %}
                <ul>
                    <form action="/newplace" method="post" class="alignedform">            
                        <input type="hidden" name="hobbyname" value="{{hobby.name}}"/>  
                        <input type="hidden" name="conditional" value="to_add_existing_hobby_to_existing_place"/>
                        <input type="submit" value="ADD" class="alignedformbutton"/>
                    </form> other existing place to practice {{hobby.name}}.  
                </ul>
                {% endif %}
            </li>
            {% endfor %} 
    {% endif %}    
    
    <div class="display-info-title-general main-place">
        <h5><span style="color:rgba(27, 115, 216, 0.952)">My places :) !</span></h5> 
    </div>  
    {% if my_places|length == 0 %}
    <p>No public places yet</p>
    {% else %}
    {% for publicplace in my_places %}
    <li>
    <a href="/places?id={{publicplace.id}}">{{publicplace.name}} </a> | {{publicplace.streetaddress}} | {{publicplace.city}} {{publicplace.state}} {{publicplace.zipcode}} 
    </li>
    {% endfor %} 

    {% endif %}    
    <br>
    <div class="display-info-title-general main-place">
        <h5><span style="color:rgba(27, 115, 216, 0.952)">My posts to the blog!</span></h5> 
    </div>  
    {% if my_posts|length == 0 %}
    <p>No posts yet</p>
    {% else %}
    {% for post in my_posts | reverse %}
        <a href="/blog?id={{post.id}}">{{post.title}}</a> <span>by</span> 
    
        {% if post.blog.nickname == session['hobbyist'] %}
            <a href="/myinfo?condition=show_all_info_user">{{post.blog.nickname}} </a> 
        {% else %}
            <a href="/myinfo?condition=show_other_info_user&hobbyist={{post.blog.nickname}}">{{post.blog.nickname}} </a> 
        {% endif %}
        in 
        <a href="/blog?hobbyist={{post.blog.nickname}}"><span>posts of {{post.blog.nickname}}</span></a> at {{post.time}} on {{post.date}}
        <span><p>{{post.body}}</p></span> 
        <hr />
    {% endfor %}    
    {% endif %}
    </b>

{% elif conditional == "other_user_profile" %}   
    <b> 
    <div class="display-info-title-general main-place">
        <h5><span style="color:rgba(27, 115, 216, 0.952)">Hobbies that {{hobbyist.nickname}} loves :) !</span></h5> 
    </div>      
        
    {% if my_hobbies|length == 0 %}
    <p>No hobbies yet</p>
    {% else %}
            {% for hobby in my_hobbies %}
            <li>
            <a href="/hobbies?id={{hobby.id}}">{{hobby.name}}</a>   
                {% if dict_hobby_places[hobby.name]|length == 0 %}
                <ul>
                    {{hobbyist.nickname}} doesn't practice this hobby in a public place yet.  
                </ul> 
                {% else %}
                {% for place in dict_hobby_places[hobby.name] %}
                <ul>
                    + <a href="/places?id={{place.id}}">{{place.name}}</a> | {{place.streetaddress}} | {{place.city}} | {{place.state}} | {{place.zipcode}}
                </ul>             
                {% endfor %}
                {% endif %}   
            </li>
            {% endfor %} 
    {% endif %}    

    <div class="display-info-title-general main-place">
        <h5><span style="color:rgba(27, 115, 216, 0.952)">Places where {{hobbyist.nickname}} goes :) !</span></h5> 
    </div>  
    {% if my_places|length == 0 %}
    <p>No public places yet</p>
    {% else %}
    {% for publicplace in my_places %}
    <li class="list2">
    <a href="/places?id={{publicplace.id}}">{{publicplace.name}} </a> | {{publicplace.streetaddress}} | {{publicplace.city}} {{publicplace.state}} {{publicplace.zipcode}} 
    </li>
    {% endfor %} 

    {% endif %}    
    <br>
    <div class="display-info-title-general main-place">
        <h5><span style="color:rgba(27, 115, 216, 0.952)">Posts of {{hobbyist.nickname}} to the blog!</span></h5> 
    </div>  
    {% if my_posts|length == 0 %}
    <p>No posts yet</p>
    {% else %}
        
        {% for post in my_posts | reverse %}
        <a href="/blog?id={{post.id}}">{{post.title}}</a> <span>by</span> 
    
        {% if post.blog.nickname == session['hobbyist'] %}
            <a href="/myinfo?condition=show_all_info_user">{{post.blog.nickname}} </a> 
        {% else %}
            <a href="/myinfo?condition=show_other_info_user&hobbyist={{post.blog.nickname}}">{{post.blog.nickname}} </a> 
        {% endif %}
        in 
        <a href="/blog?hobbyist={{post.blog.nickname}}"><span>posts of {{post.blog.nickname}}</span></a> at {{post.time}} on {{post.date}}
        <span><p>{{post.body}}</p></span> 
        <hr />
        {% endfor %}    

    {% endif %}

{% endif %}
</div>
<b> 
<br>
<br>
{% endblock %}

