{% extends "zbase.html" %}

{% block content %}
<br>
<div class="display-info-general" id="display-info-each-hobby">
    <div class="display-info-title-general main-hobby">
        <table style="width:100%">           
            <tr>
                <td><h4 style="color:rgb(240, 54, 54)">{{hobbyhtml.name}}</h4></td>                 
                {% if hobbyhtml not in my_hobbies %}                
                    <td style="text-align:right">
                        <h5><form action="/newhobbie" method="post" class="alignedform">            
                            <input type="hidden" name="hobbyname" value="{{hobbyhtml.name}}"/>
                            <input type="hidden" name="conditional_to_redirect" value="Display_all_hobbies"/>
                            <input type="hidden" name="conditional" value="to_add_existing_hobby_to_current_user"/>
                            <input class="button-nice" type="submit" value="Add Hobby" class="alignedformbutton"/>
                        </form></h5> 
                    </td>                     
                {% endif %}   
            </tr>  
        </table>             
    </div> 
    <div class="display-info-title-general main-hobby">
        <h5><span style="color:rgba(27, 115, 216, 0.952)">People practicing this hobby:</span></h5>      
    </div> 
    <table style="width:100%">           
        <tr>
            <td style="padding-bottom:5px;">                    
                <b><span>
                    {% for hobbyist in hobby_hobbyists %}
                        {% if hobbyist.nickname == session['hobbyist'] %}
                        <a href="/myinfo?condition=show_all_info_user">{{hobbyist.nickname}}</a> 
                        {% else %}
                        <a href="/myinfo?condition=show_other_info_user&hobbyist={{hobbyist.nickname}}">{{hobbyist.nickname}} </a> 
                        {% endif %}    
                        {{ "," if not loop.last }}                              
                        {% endfor %}                                     
                </span></b>                
            </td>  
        </tr>            
    </table>                    
    <div class="display-info-title-general main-hobby">
        <h5><span style="color:rgba(27, 115, 216, 0.952)">Places for practicing this hobby:</span></h5> 
    </div> 
    <table style="width:100%">           
        <tr>
            <td>
                {% if places|length != 0 %}    
                    {% for publicplace in places %}
                        <li style="border-bottom: 1px solid black">
                        <b><a href="/places?id={{publicplace.id}}">{{publicplace.name}}</a></b><br>
                        {{publicplace.streetaddress}} | {{publicplace.city}} | {{publicplace.state}} | {{publicplace.zipcode}} 
                            <br><span class="different"> 
                            ({% if dict_place_hobbyists[publicplace.unique_key_address][0] == 1 %}
                            {{dict_place_hobbyists[publicplace.unique_key_address][0]}} person practicing here
                            {% else %}
                            {{dict_place_hobbyists[publicplace.unique_key_address][0]}} people practicing here
                            {% endif %}): </span>                                                     
                                {% for hobbyist in dict_place_hobbyists[publicplace.unique_key_address][1] %}
                                    {% if hobbyist.nickname == session['hobbyist'] %}
                                    <b><a href="/myinfo?condition=show_all_info_user">{{hobbyist.nickname}}</a></b> 
                                    {% else %}
                                    <b><a href="/myinfo?condition=show_other_info_user&hobbyist={{hobbyist.nickname}}">{{hobbyist.nickname}}</a></b> 
                                    {% endif %}    
                                    {{ "," if not loop.last }}                              
                                {% endfor %}                               
                    {% endfor %}  
                    {% else %}
                    <p class="centered">This hobby is not practiced in a public place yet.</p>  
                {% endif %}                        
            </td>  
        </tr>                
    </table>    
</div>
<br>
<br>
{% endblock %}