{% extends "zbase.html" %}

{% block content %}
<h1 class="titlemain">{{event.name}}</h1> 

    <div class="centered">
        {% if event_time != "past" %}    
            {% if user not in event.hobbyists %}
            <form action="/events" method="post" class="alignedform">                        
                <input type="hidden" name="condition" value="add_user_to_event" />
                <input type="hidden" name="event_idn" value="{{event.id}}" />
                <input type="submit" value="GO" class="alignedformbutton"/>
            </form> to this event. 
            {% endif %} 
        {% elif event_time == "past" %}
            {% if event.attendance_taken_status == False %}
                {% if user.id == event.creator_hobbyist_id %}
                <form action="/events" method="post" class="alignedform">                        
                    <input type="hidden" name="condition" value="take_attendance" />
                    <input type="hidden" name="event_idn" value="{{event.id}}" />
                    <input type="submit" value="TAKE ATTENDANCE" class="alignedformbutton"/>
                </form> 
                {% endif %}
            {% endif %}
        {% endif %}
    </div>

    <h2>This is a {{event_time}} event created by <span class="orange">{{event.created_encounter.nickname}}</span></h2>
    <div>            
        <ul> 
            <span class="orange"> Hobby: <a href="/hobbies?id={{event.encounter.id}}">{{event.encounter.name}} </a></span> <br>
            <span class="paradf"> Date: {{event.date}} </span> <br>
            <span class="plaintext"> Start Time: {{event.start_time}} </span> <br>
            <span class="plaintext"> Duration: {{event.duration}} </span> <br>
            <span class="titlepost"> Holding Public Place: <a href="/places?id={{event.event.id}}"> {{event.event.name}} | {{event.event.streetaddress}} | {{event.event.city}} {{event.event.state}} {{event.event.zipcode}}</a></span><br>   
            People invited or added to this event: 
            {% for hobbyist in event.hobbyists %}                            
                <a href="/myinfo?condition=show_other_info_user&hobbyist={{hobbyist.nickname}}" class="poster">{{hobbyist.nickname}} </a>                             
                {{ "," if not loop.last }}                              
            {% endfor %}<br>   
            {% if event.attendance_taken_status == True %}
                People that attended this event: 
                {% for hobbyist in event.hobbyists_attendance %}                            
                    <a href="/myinfo?condition=show_other_info_user&hobbyist={{hobbyist.nickname}}" class="poster">{{hobbyist.nickname}} </a>                             
                    {{ "," if not loop.last }}                              
                {% endfor %}<br>  
                Date attendance was submitted: {{event.attendance_taken_date_time[0:10]}}<br>    
                Time attendance was submitted: {{event.attendance_taken_date_time[11:16]}}              
            {% endif %}                                
        </ul>        
    </div>     
    
    <h3>Comments</h3>
    <div>
        <ul>
            {% if event.attendance_taken_status == True %}
                Recap: <span class="red"> "{{comments_this_event['recap'].content}}"</span> by 
                <span class="orange">{{comments_this_event['recap'].event_comment_user.nickname}}</span> on
                <span class="orange">{{comments_this_event['recap'].date}}</span> at
                <span class="orange">{{comments_this_event['recap'].time}}</span>
                <br>     
            {% else %}                        
            {% endif %}       
            
            Original Invitation: <span class="red"> "{{comments_this_event['invitation'].content}}" </span> by 
            <span class="orange">{{comments_this_event['invitation'].event_comment_user.nickname}}</span> on
            <span class="orange">{{comments_this_event['invitation'].date}}</span> at
            <span class="orange">{{comments_this_event['invitation'].time}}</span>
            <br>  

            {% if comments_this_event['other']|length > 0 %}
                {% for single_comment in comments_this_event['other'] %}           
                    <span class="orange">{{single_comment.event_comment_user.nickname}}</span> said: 
                    <span class="red"> "{{single_comment.content}}"</span> on
                    <span class="orange">{{single_comment.date}}</span> at
                    <span class="orange">{{single_comment.time}}</span>
                    <br>  
                {% endfor %}
            {% else %}                        
            {% endif %}   

            <form method='post' action="/events">
                Leave a comment:<br>
                <textarea name="other_comment"></textarea><br><span class="error10" name="error_empty">{{error_empty}}</span><br>
                <input type="hidden" name="event_id" value="{{event.id}}" />
                <input type="hidden" name="condition" value="new_other_comment" />
                <input type="submit" value='Create' /> 
            </form>
        <br><br>                            
        </ul>
    </div>

{% endblock %}