{% extends "zbase.html" %}

{% block content %}
<br>
<br>
<div class="submission-form-general submission-form-secondary-menu" id="submission-form-new-group">
    <div class="submission-title-general submission-title-secondary-menu">
        <h4>New group</h4>       
    </div> 

    <form method='post' action="/newchat">  
        <table>     
            <tr>
                <td><input style="width:300px;" class="centered" placeholder="Add a group name here..." type="text" name="group_name" ></td>  
            </tr>
            <tr>
                <td>
                    <input type="hidden" name="initial_message" value="{{initial_message}}" />
                    <input type="hidden" name="people_invited" value="{{people_invited}}" />
                    <input type="hidden" name="condition" value="from_newgroup_view_validation" />
                    <input class="centered button-wide button-nice" type="submit" value='Create' />     
                </td>
            </tr>          
            <tr>
                <td class="centered">
                    {% if errorname == "empty" %}   
                        <span class="error10">Assign a name to your group to make it easy to identify the topic of the chat. Example: "Exercise with dumbells" </span><br>    
                    {% elif errorname == "chat_exists" %}
                        <span class="error10">You have already a chat named "{{name_of_group}}". Assign another name. </span><br>        
                    {% endif %}
                </td>  
            </tr>
        </table>           
    </form>
</div>
{% endblock %}