{% extends "zbase.html" %}

{% block content %}
<br>
<br>
<div id="submission-form-new-post">
    <div id="submission-title-new-post">
        <h4>New Post</h4>       
    </div>    
    {% if welcomemessage != None %}
        <span class="allgood">{{welcomemessage}}</span>
    {% else %}

    {% endif %}
    
    <form method='post' action="/newpost">
        <table style="margin-top:15px">     
            <tr>
                <td><span class="input-title">Title:</span></td>  
            </tr>
            <tr>
                <td><input style="width: 450px;"class="input-field" type="text" name='posttitle' value="{{newtitle}}"/></td>   
            </tr>
            <tr>
                <td>
                    {% if errorhtml == "notitle" %}
                    <span class="error10">Please fill in the title</span>
                    {% elif errorhtml == "bothempty" %}
                    <span class="error10">Please fill in the title</span>
                    {% elif errorhtml == "titleexists" %}
                    <span class="error10">There is another post with the same title. Please change the name of the title. If you want to repply to an original post you will have to do it <a href="/blog">here</a>.</span>
                    {% else %}
                    {% endif %}   
                </td>
            </tr>
            <tr>
                <td><span class="input-title">Post:</span></td>  
            </tr>
            <tr>
                <td><textarea class="input-field textarea-nice" name="postbody">{{newbody}}</textarea></td>   
            </tr>
            <tr>
                <td>
                    {% if errorhtml == "nobody" %}
                        <span class="error10">Please fill in the body</span>
                    {% elif errorhtml == "bothempty" %}
                        <span class="error10">Please fill in the body</span>
                    {% else %}
                    {% endif %}
                </td>   
            </tr>        
            <tr>
                <td>
                    <input type="hidden" value="from_new_post" name='condition' id="conditionX" />
                    <input class="button-nice" type="submit" value='Add Post' />
                </td>
            </tr>            
        </table>
    </form>
</div>
{% endblock %}