{% extends "zbase.html" %}

{% block content %}
    <h1 class="titlemain">Add a Blog Entry</h1>
    {% if welcomemessage != None %}
        <span class="allgood">{{welcomemessage}}</span>
    {% else %}

    {% endif %}
    
    <form method='post' action="/newpost">
        <label>
            Title for your new blog:
            <br>
            <input type="text" name='posttitle' value="{{newtitle}}"/><br>
            {% if errorhtml == "notitle" %}
            <span class="error10">Please fill in the title</span>
            {% elif errorhtml == "bothempty" %}
            <span class="error10">Please fill in the title</span>
            {% else %}
            {% endif %}    
        </label>
        <br><br>
        <label>Your new blog:<br>
            <textarea name="postbody">{{newbody}}</textarea>
        </label><br>
        {% if errorhtml == "nobody" %}
        <span class="error10">Please fill in the body</span>
        {% elif errorhtml == "bothempty" %}
        <span class="error10">Please fill in the body</span>
        {% else %}
        {% endif %}
        <br>
        <br>
        <input type="submit" value='Add Entry' />
    </form>

{% endblock %}