{% extends "zbase.html" %}

{% block content %}
<br>
    <div class="display-info-general" id="display-info-each-post">
        <div class="display-info-title-general main-post">
            <h4 style="color:rgb(240, 54, 54)">Answer previous post</h4>       
        </div> 
        <div class="display-info-title-general main-post">
            <h5><a href="/blog?id={{post_to_answer.id}}">"{{post_to_answer.title}}"</a></h5><span style="color:rgba(27, 115, 216, 0.952)">{{post_to_answer.date}} at {{post_to_answer.time}}</span>      
        </div> 
        <table style="width:100%">           
            <tr>
                <td><span>"{{post_to_answer.body}}"</span></td>  
            </tr>
            <tr>
                <td style="text-align:right"><span>Written by: <a href="/blog?hobbyist={{post_to_answer.blog.nickname}}">{{post_to_answer.blog.nickname}}</a></span></td>
            </tr>
        </table>            
        {% for answer in answers %}        
            <div class="display-info-title-general main-post-answer">
                <h5><a href="/blog?id={{post_to_answer.id}}&answer_id={{answer.id}}">"{{answer.title}}"</a></h5><span style="color:rgba(27, 115, 216, 0.952)">{{answer.date}} at {{answer.time}}</span>    
            </div> 
            <table style="width:100%">           
                <tr>
                    <td><span>"{{answer.body}}"</span></td>  
                </tr>
                <tr>
                    <td style="text-align:right"><span>Written by: <a href="/blog?hobbyist={{answer.blogsanswer.nickname}}">{{answer.blogsanswer.nickname}}</a></span></td>
                </tr>
            </table>     
        {% endfor %}
    </div>
    
    <h2 class="titlemain">What I want to say</h2>
        
    <form method='post' action="/newpost">
        <label>
            Title for your comment to this post:
            <br>
            <input type="text" name='posttitle' value="{{newtitle}}"/><br>
            {% if errorhtml == "notitle" %}
            <span class="error10">Please fill in the title</span>
            {% elif errorhtml == "bothempty" %}
            <span class="error10">Please fill in the title</span>
            {% elif errorhtml == "titleexists" %}
            <span class="error10">There is another post with the same title. Please change the name of the title. </span><br>
            <span class="error10">If you want to repply to an original post you will have to do it <a href="/blog">here</a>.</span>
            {% else %}
            {% endif %}    
        </label>
        <br><br>
        <label>Your comment:<br>
            <textarea name="postbody">{{newbody}}</textarea>
        </label><br>
        {% if errorhtml == "nobody" %}
        <span class="error10">Please fill in the body</span>
        {% elif errorhtml == "bothempty" %}
        <span class="error10">Please fill in the body</span>
        {% else %}
        {% endif %}
        <br>
        <br>
        <input type="hidden" value={{post_to_answer.id}} name='post2answer_id' id="just to delimitate name" />
        <input type="hidden" value="from_new_answer_to_post" name='condition' id="just to delimitate name" /><br>
        <input type="submit" value='Add Entry' />
    </form>

{% endblock %}