<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <title>{{title}}</title>                
    </head>
<body>
    <div id="my-custom-container-fluid" class="container-fluid">            
        
        <h1 class="centered">Welcome to the pack, the HobbyPack.</h1>
        <ul id=navBar>
            {% if 'hobbyist' in session %}               
            <li class="navOptionRight"><a style="color: darkcyan;" class="navOption" href="/logout"> logout </a></li>
            <li class="navOptionRight"><a class="navOption" href="/chat">Chats</a></li> 
            <li class="navOptionRight"><a class="navOption" href="/events">Events</a></li>
            <li class="navOptionRight"><a class="navOption" href="/blog">Blog</a></li> 
            <li class="navOptionRight"><a class="navOption" href="/people">People</a></li>
            <li class="navOptionRight"><a class="navOption" href="/places">Places</a></li>
            <li class="navOptionRight"><a class="navOption" href="/hobbies">Hobbies</a></li>
            <!--<li class="navOptionRight"><a class="navOption" href="/">Home</a></li>-->          
            <li class="navOptionRight"><a class="navOption" href="/"><i style="font-size: 20px;" class="material-icons">home</i></a></li>    
            <li class="navOptionRight"><a id="the-user" class="navOption" href="/myinfo?condition=show_all_info_user"><i style="font-size: 20px;" class="material-icons">account_box</i> {{ session['hobbyist'] }}</a> </li>
                       
            {% else %}
            <li class="navOptionRight"><a class="navOption" href="/login">Login</a></li> 
            <li class="navOptionRight"><a class="navOption" href="/newhobbyist">Sign up</a></li>
            <li class="navOptionRight"><a class="navOption" href="/">Home</a></li>            
            {% endif %}                        
            <li class="navOptionLeft"><a class="navOption" href="/newhobbie">New hobby</a></li>
            <li class="navOptionLeft"><a class="navOption" href="/newplace">New place</a></li>
            <li class="navOptionLeft"><a class="navOption" href="/newpost">New post</a></li> 
            <li class="navOptionLeft"><a class="navOption" href="/events?condition=create_new_event">New event</a></li>                       
            <li class="navOptionLeft"><a class="navOption" href="/newchat?condition=from_allchats_view">Start chat</a></li>                    
        </ul>
            
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <ul class=flashes>
            {% for category,message in messages %}
            <li class = "{{category}}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}   

    {% block content %}
    {% endblock %}

    </div>

    <script type="text/javascript" src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/app.js')}}"></script>
    
</body>
</html>