<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link type="text/css" rel="stylesheet" href="static/css/stylesheet.css" />
        <meta charset='UTF-8'/>
        <title>{{title}}</title>        
    </head>
<body>
    <div id="principal">
        {% if 'hobbyist' in session %}            
            <a href="/">Home</a> | <a href="/blog">Blog</a> | <a href="/chat">Chat</a> | <a href="/people">Hobbyists</a> | <a href="/hobbies">Hobbies</a> | <a href="/places">Places</a> | <a href="/events">Encounters</a><br>   
            <div class="toright"><a href="/myinfo?condition=show_all_info_user">{{ session['hobbyist'] }}</a> | <a href="/logout"> logout </a></div>
        {% else %}
            <a href="/">Home</a> | <a href="/newhobbyist">Sign up</a> | <a href="/login">Login</a> 
        {% endif %}
    </div>    
        
            <a href="/newpost">Add new post</a>
            &nbsp&nbsp
            <a href="/newchat?condition=from_allchats_view">Start messaging</a>
            &nbsp&nbsp
            <a href="/newhobbie">Add new hobby</a>
            &nbsp&nbsp
            <a href="/newplace">Add new place</a>
            &nbsp&nbsp
            <a href="/events?condition=create_new_event">Create encounter</a>
            
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <ul class=flashes>
            {% for category,message in messages %}
            <li class = "{{category}}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}

    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    
</body>
</html>