{% extends "zbase.html" %}
{% block content %}
<br>
<br>
<div id="submission-form-login">
  <div id="submission-title-login">
    <h2>Login</h2>
  </div> 
  <form action="/login" method="post">  
    <table class="table-login">     
      <tr>
        <td><label>Hobbyist</label></td>  
        <td><input type="text" name="hobbyist_html" value="{{hobbyist}}"/></td>
      </tr>   
      <tr>
        <td><label>Password</label></td> 
        <td><input type="password" name="password_html"/></td> 
      </tr> 
      <tr>
        <td colspan="2" class="centered"><input class="button-nice" type="submit" value="Login"/></td>  
      </tr>   
    </table>                   
  </form>     
    <div class="centered">
      <span>Don't have an account yet?</span>
      <br><a id="hyperlink-login" href="/newhobbyist">Create one!</a>  
    </div>  
</div>
{% endblock %}